/7_15_Enter the Initial TextBox Data.jpg
/7_14_Wait till loading symbol is disapperaed.jpg
/7_16_Verify Submit button is displayed and it is enabled to perform operation click.jpg
/7_17_Verify Grid results are displayed based on twin check count.jpg
/7_18_Click on Submit button.jpg
